{% extends "myapp/base.html" %}
    {%block body%}
        <title>User tab</title>
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class ="col-4" align = center>
                        <h2>Отправка формы</h2>
                        <form action="" method="POST" class = "needs-validation w-75" novalidate>
                            {%csrf_token%}
                            <div class="container">
                                <div class = "form-group mb-10">
                                    {%for field in form%}
                                        <label> {{field.label}}</label>
                                        <input class="form-control {% if field.errors %}is-invalid{% endif %}" name='{{field.name}}' required value="{{field.value|default_if_none:""}}">
                                    {% if field.errors %}
                                        <div class="invalid-feedback">
                                        {{field.errors}}
                                        </div> 
                                    {% endif %}
                                    {%endfor%}
                                        <button class="btn btn-primary mt-1" type="submit">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-4" align = right>
                        <table align = right>
                                <td>Текущий пользователь: {{user.get_username}}</td>
                                <tr align = right><td><a class="btn btn-primary" href = "{%url 'myapp:show'%}">Показать все записи</a></td></tr>
                                <tr align = right>
                                    <td><a class="btn btn-primary" href = "{%url 'myapp:user_logout'%}">Выйти из системы</a></td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
{%endblock%}