{% extends "myapp/base.html" %}
    {%block body%}
    <div class = "container-fluid">
    <div class = "row justify-content-end">
        <div class = "col-4" align = center>
        {% if user_list %}    
            <h1 align = center>Таблица записей</h1>
            <table align = center class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">First name</th>
                        <th scope = "col">Last name</th>
                        <th scope = col>Age</th>
                    </tr>
                </thead>
            <tbody>
            {% for user in user_list %}
                <tr>
                    <td>{{user.first_name}}</td>
                    <td>{{user.second_name}}</td>
                    <td>{{user.age}}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>No users here.</p>
        {% endif %}
        </div>
        <div class = "col-4" align="right">
        <table align = right>
        <td>Текущий пользователь: {{user.get_username}}</td>
        <tr align = right><td><a class="btn btn-primary" href = "{% url 'myapp:form'%}">Добавить данные</a></td></tr>
        <tr align = right><td><a class="btn btn-primary" href = "{% url 'myapp:user_logout'%}">Выйти из системы</a></td></tr>
        </table>
        </div>
    </div>
</div>
{%endblock%}